{% extends 'base.html' %}
{% block title %}Update Task{% endblock title %}
{% block body %}
    <div class="container my-5">
        <h2>Update</h2>
        <form action="/update/{{todo.sno}}" method="POST">
            <div class="mb-3">
              <label for="task" class="form-label">Task</label>
              <input type="text" class="form-control" name="task" id="task" aria-describedby="task" value={{todo.title}}>
            </div>
            <div class="mb-3">
                <label for="desc" class="form-label">Description</label>
                <input type="text" class="form-control" name="desc" id="desc" aria-describedby="desc" value={{todo.desc}}>
              </div>
            <button type="submit" class="btn btn-primary">Update</button>
          </form>
          <a href="/" class="btn btn-secondary my-3">Go Back</a>
    </div>
{% endblock body %}